		.table-fit
		{
			width:fit-content;
			height: fit-content
		}

		.table-fit2
		{
			width:fit-content;
			height: fit-content;
			padding: 5px;
			background-color: lightgray;
			border: 1px solid white;
		}

		.td-centered
		{
			text-align: center
		}
		
        body {
            background-image: url('./../h.jpg');
            font-family: Arial;
        }

        .tab {
		  overflow: hidden;
		  border: 1px solid #ccc;
		  background-color: #f1f1f1;
		}

		/* Style the buttons inside the tab */
		.tab button {
		  background-color: inherit;
		  float: left;
		  border: none;
		  outline: none;
		  cursor: pointer;
		  padding: 14px 16px;
		  transition: 0.3s;
		  font-size: 17px;
		}
		
		/* Change background color of buttons on hover */
		.tab button:hover {
		  background-color: #ddd;
		}
		
		/* Create an active/current tablink class */
		.tab button.active {
		  background-color: #ccc;
		}
		
		/* Style the tab content */
		.tabcontent {
		  display: none;
		  padding: 6px 12px;
		  border: 1px solid #ccc;
		  border-top: none;
		  background-color: #1ad1ff;
		}
		
		label {
			padding: 5px;
		}